<%-include(`header`)-%>
<h2>
    THIS IS THE ABOUT PAGE
</h2>

<p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat, placeat eaque! Omnis dicta ab sint ipsum porro libero optio necessitatibus voluptates eveniet. Ad, libero nisi. Repellat tempore in rerum iste.
</p>

<%-include(`footer`)-%>